@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap%27%27');



.AnchorPane{
    -fx-background-color: #18122B;
}
.button{
    -fx-background-color: #443C68;
    -fx-text-fill: white;
    -fx-font-family: 'Concert One', cursive;
    -fx-font-size: 17;

}

.SidePane{
    -fx-background-color: #393053;
}

.whiteText{
    -fx-background-color: white;
}

.Ticket{
    -fx-background-color: #635985;
}
