.button{
    -fx-background-color: #443C68;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-cursor: hand;
}

.AnchorPane{
    -fx-background-color: #393053;
}

.label{
    -fx-text-fill: white;
}