@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap%27%27');

.background{
    -fx-background-color: #18122B;
}

.whitetext{
    -fx-fill: white;
}

.title{
    -fx-font-family: 'Concert One', cursive;
    -fx-fill: white;
    -fx-font-size: 16;
}

.textfill {
    -fx-text-fill: white;
}

.frontPane {
    -fx-background-color: #393053;
}

.button{
    -fx-background-color: #443C68;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-cursor: hand;
}